.確定登錄按鈕 {
  font-size:10px;
  background-color:antiquewhite; 
  border-width:0px;
  border-radius:5px;
  vertical-align:top; 
  margin-right:5px;
}

.確定按鈕 {
  font-size:16px;
  background-color:lawngreen; 
  border-width:1px;
  border-radius:5px;
  vertical-align:top; 
  margin-top:10px; 
  margin-left:20px; 
  width:50px  
}

.取消按鈕 {
  font-size:16px;
  background-color:red; 
  color:white;
  border-width:1px;
  border-radius:5px;
  vertical-align:top; 
  margin-top:10px;   
  margin-left:-160px; 
  width:50px  
}

canvas{

/*  width: 1000px !important;*/
  height: 600px !important;

}
